

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Password Reset</title>
</head>
<body>

  <div class="container bg-white shadow-md mt-4 mb-4 p-5 form-layout" >
    <h3>Password Reset</h3>

    <p>Your password has been set.</p>
    <p>you may go ahead and log in</p>

    <a href="/">Login</a>
  </div>
</body>
</html>