
{% extends "journal/navbar.html" %}
{% load static %}
{% load crispy_forms_tags%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="">
  <title>Project Profile | </title>
</head>
<body>
  {% block content %}

    <div class="container bg-white shadow-md mt-4 mb-4 p-5 form-layout" >
      <h1 class="text-light" >Update Thought</h1>

      <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
  
        <div>
          {{UpdateThought|crispy}}
         
          <br><br>
          <button class="btn btn-secondary btn-md w-100 btn-block p-3 mb-4" type="submit">Update Thought</button>
        </div>
  
      </form>
   
    </div>

  {% endblock %}
</body>
</html>